In [39]:
import pandas as pd

In [77]:
df = pd.read_csv('files /final_clean.csv', index_col= 0, low_memory=False)

In [78]:
df[df['country']=='GBR']

,hotel,canceled,lead_time,arrival_year,arrival_month,arrival_week,arrival_day,weekend_nights,week_nights,adults,...,agent,company,days_waiting_list,customer_type,adr,parking_spaces,special_requests,reservation_status,status_date,arrival_date
2,Resort Hotel,False,7.0,2015.0,7,27.0,1.0,0.0,1.0,1.0,...,Desconocido,Desconocido,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02,2015-07-01
3,Resort Hotel,False,13.0,Desconocido,7,27.0,1.0,0.0,1.0,1.0,...,304.0,Desconocido,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02,NaN
5,Resort Hotel,False,14.0,Desconocido,7,27.0,1.0,0.0,2.0,2.0,...,240.0,Desconocido,0.0,Desconocido,98.0,0.0,1.0,Check-Out,2015-07-03,NaN
19,Resort Hotel,False,7.0,2015.0,7,27.0,1.0,0.0,4.0,2.0,...,250.0,Desconocido,0.0,Transient,153.0,0.0,1.0,Check-Out,2015-07-05,2015-07-01
31,Resort Hotel,False,95.0,2015.0,7,Desconocido,1.0,4.0,11.0,2.0,...,241.0,Desconocido,0.0,Transient,64.0,0.0,0.0,Check-Out,2015-07-16,2015-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119314,City Hotel,False,230.0,2017.0,8,35.0,31.0,0.0,3.0,2.0,...,28.0,Desconocido,0.0,Transient,110.0,0.0,0.0,Check-Out,2017-03-09,2017-08-31
119316,City Hotel,False,1.0,Desconocido,8,35.0,31.0,0.0,3.0,2.0,...,28.0,Desconocido,0.0,Desconocido,110.0,0.0,1.0,Check-Out,2017-03-09,NaN
119319,City Hotel,False,45.0,Desconocido,8,Desconocido,28.0,1.0,5.0,2.0,...,7.0,Desconocido,0.0,Transient,194.0,0.0,1.0,Check-Out,2017-03-09,NaN
119378,City Hotel,False,247.0,Desconocido,8,Desconocido,31.0,1.0,3.0,2.0,...,42.0,Desconocido,0.0,Transient,87.0,0.0,0.0,Check-Out,2017-04-09,NaN
119379,City Hotel,False,109.0,Desconocido,8,35.0,31.0,1.0,3.0,50.0,...,9.0,Desconocido,0.0,Desconocido,155.0,0.0,1.0,Check-Out,2017-04-09,NaN

In [84]:
bins = [-1, 0, 31, 62, 92, 123, 153, 184, 214, 245, 275, 306, 336, 366]
labels = ['Ningún mes', 'Mes 1', 'Mes 2', 'Mes 3', 'Mes 4', 'Mes 5', 'Mes 6', 'Mes 7', 'Mes 8', 'Mes 9', 'Mes 10', 'Mes 11', 'Mes 12']

df['lead_time_group'] = pd.cut(df['lead_time'], bins=bins, labels=labels)
grouped = df[df['country'] == 'GBR'].groupby(['lead_time_group', 'canceled']).size().unstack(fill_value=0)
grouped['total_reservas'] = grouped.sum(axis=1)
grouped['porcentaje_cancelados'] = (grouped['True'] / grouped['total_reservas']) * 100


grouped['country'] = 'GBR'
grouped=grouped.drop(columns=['False', 'True'])
grouped

canceled         total_reservas  porcentaje_cancelados country
lead_time_group
Ningún mes                  133               1.503759     GBR
Mes 1                      1328              14.457831     GBR
Mes 2                       924              26.948052     GBR
Mes 3                       718              21.030641     GBR
Mes 4                       618              22.653722     GBR
Mes 5                       543              24.309392     GBR
Mes 6                       536              22.014925     GBR
Mes 7                       417              22.541966     GBR
Mes 8                       400              20.000000     GBR
Mes 9                       276              33.333333     GBR
Mes 10                      221              22.171946     GBR
Mes 11                      157              26.114650     GBR
Mes 12                      128              21.093750     GBR

In [81]:
GBR = grouped

In [85]:
df2 = pd.concat([GBR, PRT,ITA,ESP,IRL,FRA,DEU], axis=0)

In [89]:
df2.to_csv('porcentajes_cancelaciones.csv', index=False)