In [36]:
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np 
from datetime import datetime 
from IPython.display import display

# Imputación de nulos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('../files /finanzas-hotel-bookings.csv', index_col= 0, low_memory=False)

In [3]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.000000,2015.0,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.000000,NaN,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.000000,2015.0,July,27.0,1.0,0.000000,1.000000,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.000000,NaN,July,27.0,1.0,0.000000,1.000000,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.000000,NaN,July,NaN,1.0,0.000000,2.000000,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182872,NaN,NaN,224.337762,NaN,NaN,NaN,NaN,19.005545,19.819823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182873,NaN,NaN,390.141963,NaN,NaN,NaN,NaN,14.751794,19.989726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182874,NaN,NaN,230.689826,NaN,NaN,NaN,NaN,11.409496,20.461372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182875,NaN,NaN,304.888534,NaN,NaN,NaN,NaN,16.744472,15.400773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182876,NaN,NaN,341.238166,NaN,NaN,NaN,NaN,17.791486,24.442690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.name = "Dataset Hotel"

In [5]:
def exploracion_general (lista):
    """Esta función proporciona toda la informacion necesaria de uno o varios DataFrame
    
    Args:
    lista : lista de los DataFrame que queremos explorar
    
    Returns:
    La funcion no tiene return pero devuelve varios prints con
    la informacion que necesitamos:
    - Descripciones separadas por columnas numericas y categoricas
    - Tipos de dato por columna
    - Numero total de filas y columnas
    - Informacion adicional
    - Total de nulos
    - Total de duplicados"""


    for df in lista:

        print("------Exploracion del dataframe: {} ------".format(df.name))
        try:
            print("-------Descripción columnas numéricas:---------")
            print(df.describe())
        except:
            print("Este DataFrame no contiene columnas numericas")

        try:
            print("-------Descripción columnas categoricas:---------")
            print(df.describe(include="O"))
        except: 
            print("Este DataFrame no contiene columnas categoricas")

        print("------Tipos de datos:---------")
        print(df.dtypes)
        print("------Numero de filas y columnas:------")
        print(df.shape)
        print("------Información adicional:---------")
        print(df.info())
        print("------Cantidad de nulos:---------")
        print(df.isnull().sum())
        print("------Cantidad de duplicados:---------")
        print(df.duplicated().sum())

In [6]:
exploracion_general([df])

------Exploracion del dataframe: Dataset Hotel ------
-------Descripción columnas numéricas:---------
           lead_time  arrival_date_year  arrival_date_week_number  \
count  119490.000000       64829.000000             101004.000000
mean      104.172628        2016.156196                 27.175785
std       106.975949           0.706674                 13.613871
min         0.000000        2015.000000                  1.000000
25%        18.000000        2016.000000                 16.000000
50%        69.000000        2016.000000                 28.000000
75%       161.000000        2017.000000                 38.000000
max       737.000000        2017.000000                 53.000000

       arrival_date_day_of_month  stays_in_weekend_nights  \
count              119271.000000            119490.000000
mean                   15.795977                 0.939461
std                     8.780503                 1.082472
min                     1.000000                 0.000000
25%                     8.000000                 0.000000
50%                    16.000000                 1.000000
75%                    23.000000                 2.000000
max                    31.000000                19.914715

       stays_in_week_nights         adults      children         babies  \
count         119490.000000  119428.000000  69302.000000  119431.000000
mean               2.515068       6.244423      0.125162       0.019903
std                1.976511      14.574814      0.688305       0.433366
min                0.000000       0.000000      0.000000       0.000000
25%                1.000000       2.000000      0.000000       0.000000
50%                2.000000       2.000000      0.000000       0.000000
75%                3.000000       2.000000      0.000000       0.000000
max               50.000000      59.000000     19.000000      19.000000

       is_repeated_guest  previous_cancellations  \
count      114376.000000            76228.000000
mean            0.031877                0.109317
std             0.175674                1.028093
min             0.000000                0.000000
25%             0.000000                0.000000
50%             0.000000                0.000000
75%             0.000000                0.000000
max             1.000000               26.000000

       previous_bookings_not_canceled  booking_changes          agent  \
count                   119390.000000    119418.000000  103050.000000
mean                         0.137097         0.232737      86.693382
std                          1.497437         0.770795     110.774548
min                          0.000000         0.000000       1.000000
25%                          0.000000         0.000000       9.000000
50%                          0.000000         0.000000      14.000000
75%                          0.000000         0.000000     229.000000
max                         72.000000        21.000000     535.000000

           company  days_in_waiting_list            adr  \
count  3870.000000         119390.000000  119390.000000
mean    188.828424              2.321149     101.831122
std     131.473039             17.594721      50.535790
min       6.000000              0.000000      -6.380000
25%      62.000000              0.000000      69.290000
50%     178.000000              0.000000      94.575000
75%     270.000000              0.000000     126.000000
max     543.000000            391.000000    5400.000000

       required_car_parking_spaces  total_of_special_requests
count                119390.000000              119390.000000
mean                      0.062518                   0.571363
std                       0.245291                   0.792798
min                       0.000000                   0.000000
25%                       0.000000                   0.000000
50%                       0.000000                   0.000000
75%                       0.000000                   1.000000
max                       8.000000                   5.000000
-------Descripción columnas categoricas:---------
             hotel is_canceled arrival_date_month    meal country  \
count       119390      119390             119390  119390   65054
unique           2           2                 15       5     163
top     City Hotel       False             August      BB     PRT
freq         79330       75166              13877   92310   26577

       market_segment distribution_channel reserved_room_type  \
count           59934               105899              79275
unique              8                    5                 10
top         Online TA                TA/TO                  A
freq            28331                86822              57202

       assigned_room_type customer_type reservation_status  \
count              119390         94199             119390
unique                 12             4                  3
top                     A     Transient          Check-Out
freq                74053         70610              75166

       reservation_status_date      0
count                   106514  42951
unique                     991   1588
top        2015-10-21 00:00:00    0.0
freq                      1298  12780
------Tipos de datos:---------
hotel                              object
is_canceled                        object
lead_time                         float64
arrival_date_year                 float64
arrival_date_month                 object
arrival_date_week_number          float64
arrival_date_day_of_month         float64
stays_in_weekend_nights           float64
stays_in_week_nights              float64
adults                            float64
children                          float64
babies                            float64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 float64
previous_cancellations            float64
previous_bookings_not_canceled    float64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                   float64
agent                             float64
company                           float64
days_in_waiting_list              float64
customer_type                      object
adr                               float64
required_car_parking_spaces       float64
total_of_special_requests         float64
reservation_status                 object
reservation_status_date            object
0                                  object
dtype: object
------Numero de filas y columnas:------
(182877, 32)
------Información adicional:---------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 182877 entries, 0 to 182876
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  object
 2   lead_time                       119490 non-null  float64
 3   arrival_date_year               64829 non-null   float64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        101004 non-null  float64
 6   arrival_date_day_of_month       119271 non-null  float64
 7   stays_in_weekend_nights         119490 non-null  float64
 8   stays_in_week_nights            119490 non-null  float64
 9   adults                          119428 non-null  float64
 10  children                        69302 non-null   float64
 11  babies                          119431 non-null  float64
 12  meal                            119390 non-null  object
 13  country                         65054 non-null   object
 14  market_segment                  59934 non-null   object
 15  distribution_channel            105899 non-null  object
 16  is_repeated_guest               114376 non-null  float64
 17  previous_cancellations          76228 non-null   float64
 18  previous_bookings_not_canceled  119390 non-null  float64
 19  reserved_room_type              79275 non-null   object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119418 non-null  float64
 22  agent                           103050 non-null  float64
 23  company                         3870 non-null    float64
 24  days_in_waiting_list            119390 non-null  float64
 25  customer_type                   94199 non-null   object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  float64
 28  total_of_special_requests       119390 non-null  float64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         106514 non-null  object
 31  0                               42951 non-null   object
dtypes: float64(19), object(13)
memory usage: 46.0+ MB
None
------Cantidad de nulos:---------
hotel                              63487
is_canceled                        63487
lead_time                          63387
arrival_date_year                 118048
arrival_date_month                 63487
arrival_date_week_number           81873
arrival_date_day_of_month          63606
stays_in_weekend_nights            63387
stays_in_week_nights               63387
adults                             63449
children                          113575
babies                             63446
meal                               63487
country                           117823
market_segment                    122943
distribution_channel               76978
is_repeated_guest                  68501
previous_cancellations            106649
previous_bookings_not_canceled     63487
reserved_room_type                103602
assigned_room_type                 63487
booking_changes                    63459
agent                              79827
company                           179007
days_in_waiting_list               63487
customer_type                      88678
adr                                63487
required_car_parking_spaces        63487
total_of_special_requests          63487
reservation_status                 63487
reservation_status_date            76363
0                                 139926
dtype: int64
------Cantidad de duplicados:---------
63040

In [7]:
#quitamos duplicados
df_sin_dup = df.drop_duplicates()

In [8]:
#negativo a nan
df_sin_dup[df_sin_dup["adr"]== -6.38] = df_sin_dup[df_sin_dup["adr"]== np.nan]

In [9]:
#quitamos decimales
df_sin_dup["stays_in_weekend_nights"] = df_sin_dup["stays_in_weekend_nights"].round()
df_sin_dup["stays_in_week_nights"] = df_sin_dup["stays_in_week_nights"].round()

In [10]:
dicc =  {
    'January': '1',
    'February': '2',
    'March': '3',
    'April': '4',
    'May': '5',
    'June': '6',
    'July': '7',
    'August': '8',
    'September': '9',
    'October': '10',
    'November': '11',
    'December': '12'
}

In [11]:
df_sin_dup["arrival_date_month"] = df_sin_dup["arrival_date_month"].map(dicc)

In [12]:
df_sin_dup["arrival_date_month"].dtype

dtype('O')

In [13]:
df_sin_dup.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', '0'],
      dtype='object')

In [14]:
df_sin_dup[df_sin_dup["0"].notnull()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
119390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,City Hotel
119391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
119392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,226
119394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,June
119395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182838,NaN,NaN,210.765755,NaN,NaN,NaN,NaN,15.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Transient
182839,NaN,NaN,343.704995,NaN,NaN,NaN,NaN,20.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0
182840,NaN,NaN,339.463972,NaN,NaN,NaN,NaN,13.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
182841,NaN,NaN,231.666473,NaN,NaN,NaN,NaN,15.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
182842,NaN,NaN,221.182665,NaN,NaN,NaN,NaN,15.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canceled

In [16]:
df_sin_dup.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', '0'],
      dtype='object')

In [17]:
df_sin_dup["arrival_date_month"].unique()

array(['7', '8', '9', '10', '11', '12', nan, '1', '2', '3', '4', '5', '6'],
      dtype=object)

In [18]:
df_sin_dup.rename

<bound method DataFrame.rename of                hotel is_canceled   lead_time  arrival_date_year  \
0       Resort Hotel       False  342.000000             2015.0
1       Resort Hotel       False  737.000000                NaN
2       Resort Hotel       False    7.000000             2015.0
3       Resort Hotel       False   13.000000                NaN
4       Resort Hotel       False   14.000000                NaN
...              ...         ...         ...                ...
182872           NaN         NaN  224.337762                NaN
182873           NaN         NaN  390.141963                NaN
182874           NaN         NaN  230.689826                NaN
182875           NaN         NaN  304.888534                NaN
182876           NaN         NaN  341.238166                NaN

       arrival_date_month  arrival_date_week_number  \
0                       7                      27.0
1                       7                      27.0
2                       7                      27.0
3                       7                      27.0
4                       7                       NaN
...                   ...                       ...
182872                NaN                       NaN
182873                NaN                       NaN
182874                NaN                       NaN
182875                NaN                       NaN
182876                NaN                       NaN

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                             1.0                      0.0
1                             1.0                      0.0
2                             1.0                      0.0
3                             1.0                      0.0
4                             1.0                      0.0
...                           ...                      ...
182872                        NaN                     19.0
182873                        NaN                     15.0
182874                        NaN                     11.0
182875                        NaN                     17.0
182876                        NaN                     18.0

        stays_in_week_nights  adults  children  babies meal country  \
0                        0.0     2.0       NaN     0.0   BB     PRT
1                        0.0     2.0       NaN     0.0   BB     NaN
2                        1.0     1.0       0.0     0.0   BB     GBR
3                        1.0     1.0       NaN     0.0   BB     GBR
4                        2.0     2.0       NaN     0.0   BB     NaN
...                      ...     ...       ...     ...  ...     ...
182872                  20.0     NaN       NaN     NaN  NaN     NaN
182873                  20.0     NaN       NaN     NaN  NaN     NaN
182874                  20.0     NaN       NaN     NaN  NaN     NaN
182875                  15.0     NaN       NaN     NaN  NaN     NaN
182876                  24.0     NaN       NaN     NaN  NaN     NaN

       market_segment distribution_channel  is_repeated_guest  \
0                 NaN               Direct                0.0
1                 NaN               Direct                0.0
2                 NaN               Direct                0.0
3           Corporate            Corporate                0.0
4           Online TA                TA/TO                0.0
...               ...                  ...                ...
182872            NaN                  NaN                NaN
182873            NaN                  NaN                NaN
182874            NaN                  NaN                NaN
182875            NaN                  NaN                NaN
182876            NaN                  NaN                NaN

        previous_cancellations  previous_bookings_not_canceled  \
0                          NaN                             0.0
1                          0.0                             0.0
2                          0.0                             0.0
3                          0.0                             0.0
4                          0.0                             0.0
...                        ...                             ...
182872                     NaN                             NaN
182873                     NaN                             NaN
182874                     NaN                             NaN
182875                     NaN                             NaN
182876                     NaN                             NaN

       reserved_room_type assigned_room_type  booking_changes  agent  company  \
0                       C                  C              3.0    NaN      NaN
1                     NaN                  C              4.0    NaN      NaN
2                       A                  C              0.0    NaN      NaN
3                       A                  A              0.0  304.0      NaN
4                       A                  A              0.0  240.0      NaN
...                   ...                ...              ...    ...      ...
182872                NaN                NaN              NaN    NaN      NaN
182873                NaN                NaN              NaN    NaN      NaN
182874                NaN                NaN              NaN    NaN      NaN
182875                NaN                NaN              NaN    NaN      NaN
182876                NaN                NaN              NaN    NaN      NaN

        days_in_waiting_list customer_type   adr  required_car_parking_spaces  \
0                        0.0     Transient   0.0                          0.0
1                        0.0     Transient   0.0                          0.0
2                        0.0     Transient  75.0                          0.0
3                        0.0     Transient  75.0                          0.0
4                        0.0     Transient  98.0                          0.0
...                      ...           ...   ...                          ...
182872                   NaN           NaN   NaN                          NaN
182873                   NaN           NaN   NaN                          NaN
182874                   NaN           NaN   NaN                          NaN
182875                   NaN           NaN   NaN                          NaN
182876                   NaN           NaN   NaN                          NaN

        total_of_special_requests reservation_status reservation_status_date  \
0                             0.0          Check-Out     2015-07-01 00:00:00
1                             0.0          Check-Out     2015-07-01 00:00:00
2                             0.0          Check-Out     2015-07-02 00:00:00
3                             0.0          Check-Out     2015-07-02 00:00:00
4                             1.0          Check-Out     2015-07-03 00:00:00
...                           ...                ...                     ...
182872                        NaN                NaN                     NaN
182873                        NaN                NaN                     NaN
182874                        NaN                NaN                     NaN
182875                        NaN                NaN                     NaN
182876                        NaN                NaN                     NaN

          0
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
182872  NaN
182873  NaN
182874  NaN
182875  NaN
182876  NaN

[119837 rows x 32 columns]>

In [19]:
# Definir el mapeo para renombrar las columnas en minúsculas
rename_mapping = {
    'hotel': 'hotel',
    'is_canceled': 'canceled',
    'lead_time': 'lead_time',
    'arrival_date_year': 'arrival_year',
    'arrival_date_month': 'arrival_month',
    'arrival_date_week_number': 'arrival_week',
    'arrival_date_day_of_month': 'arrival_day',
    'stays_in_weekend_nights': 'weekend_nights',
    'stays_in_week_nights': 'week_nights',
    'adults': 'adults',
    'children': 'children',
    'babies': 'babies',
    'meal': 'meal',
    'country': 'country',
    'market_segment': 'market_segment',
    'distribution_channel': 'distribution_channel',
    'is_repeated_guest': 'repeated_guest',
    'previous_cancellations': 'prev_cancellations',
    'previous_bookings_not_canceled': 'prev_not_canceled',
    'reserved_room_type': 'reserved_room_type',
    'assigned_room_type': 'assigned_room_type',
    'booking_changes': 'booking_changes',
    'agent': 'agent',
    'company': 'company',
    'days_in_waiting_list': 'days_waiting_list',
    'customer_type': 'customer_type',
    'adr': 'adr',
    'required_car_parking_spaces': 'parking_spaces',
    'total_of_special_requests': 'special_requests',
    'reservation_status': 'reservation_status',
    'reservation_status_date': 'status_date',
    '0': '0'
}

# Renombrar las columnas según el mapeo en minúsculas
df = df_sin_dup.rename(columns=rename_mapping)

In [20]:
df.columns

Index(['hotel', 'canceled', 'lead_time', 'arrival_year', 'arrival_month',
       'arrival_week', 'arrival_day', 'weekend_nights', 'week_nights',
       'adults', 'children', 'babies', 'meal', 'country', 'market_segment',
       'distribution_channel', 'repeated_guest', 'prev_cancellations',
       'prev_not_canceled', 'reserved_room_type', 'assigned_room_type',
       'booking_changes', 'agent', 'company', 'days_waiting_list',
       'customer_type', 'adr', 'parking_spaces', 'special_requests',
       'reservation_status', 'status_date', '0'],
      dtype='object')

In [21]:
# Modificacion columna 0
df["0"].unique()

array([nan, 'City Hotel', 'True', ..., '29/10/15', '197.1', '4/02/17'],
      dtype=object)

In [22]:
len(df)

119837

In [23]:
df_clean = df[df["0"].isnull()] # Identificamos las filas con valores nulos en la columna "0"

In [24]:
len(df_clean)

118115

In [25]:
df_clean.drop("0", axis=1, inplace=True) # Eliminamos la columa "0"

In [26]:
df_clean.columns

Index(['hotel', 'canceled', 'lead_time', 'arrival_year', 'arrival_month',
       'arrival_week', 'arrival_day', 'weekend_nights', 'week_nights',
       'adults', 'children', 'babies', 'meal', 'country', 'market_segment',
       'distribution_channel', 'repeated_guest', 'prev_cancellations',
       'prev_not_canceled', 'reserved_room_type', 'assigned_room_type',
       'booking_changes', 'agent', 'company', 'days_waiting_list',
       'customer_type', 'adr', 'parking_spaces', 'special_requests',
       'reservation_status', 'status_date'],
      dtype='object')

In [30]:
# Modificación columna "status_date"
df_clean["status_date"].unique()

array(['2015-07-01 00:00:00', '2015-07-02 00:00:00',
       '2015-07-03 00:00:00', '2015-05-06 00:00:00',
       '2015-04-22 00:00:00', '2015-06-23 00:00:00',
       '2015-07-05 00:00:00', nan, '2015-07-07 00:00:00',
       '2015-07-08 00:00:00', '2015-05-11 00:00:00',
       '2015-07-15 00:00:00', '2015-07-16 00:00:00',
       '2015-05-29 00:00:00', '2015-05-19 00:00:00',
       '2015-06-19 00:00:00', '2015-07-06 00:00:00',
       '2015-05-23 00:00:00', '2015-05-18 00:00:00',
       '2015-07-09 00:00:00', '2015-06-02 00:00:00',
       '2015-07-04 00:00:00', '2015-06-29 00:00:00',
       '2015-06-16 00:00:00', '2015-06-18 00:00:00',
       '2015-06-12 00:00:00', '2015-06-09 00:00:00',
       '2015-05-26 00:00:00', '2015-07-11 00:00:00',
       '2015-07-12 00:00:00', '2015-07-13 00:00:00',
       '2015-07-17 00:00:00', '2015-04-15 00:00:00',
       '2015-05-13 00:00:00', '2015-07-10 00:00:00',
       '2015-05-20 00:00:00', '2015-05-12 00:00:00',
       '2015-07-14 00:00:00', '2015-06-17 00:00:00',
       '2015-05-01 00:00:00', '2015-07-19 00:00:00',
       '2015-06-03 00:00:00', '2015-06-26 00:00:00',
       '2015-05-14 00:00:00', '2015-07-20 00:00:00',
       '2015-05-07 00:00:00', '2015-05-28 00:00:00',
       '2015-04-13 00:00:00', '2015-03-25 00:00:00',
       '2015-07-21 00:00:00', '2015-06-27 00:00:00',
       '2015-07-18 00:00:00', '2015-07-23 00:00:00',
       '2015-06-08 00:00:00', '2030-02-30', '2015-03-05 00:00:00',
       '2015-06-22 00:00:00', '2015-04-24 00:00:00',
       '2015-07-22 00:00:00', '2015-05-27 00:00:00',
       '2015-04-06 00:00:00', '2015-04-11 00:00:00',
       '2015-07-25 00:00:00', '2015-07-28 00:00:00',
       '2015-07-29 00:00:00', '2015-07-24 00:00:00',
       '2015-06-30 00:00:00', '2015-06-24 00:00:00',
       '2015-07-27 00:00:00', '2015-04-29 00:00:00',
       '2015-06-04 00:00:00', '2015-06-11 00:00:00',
       '2015-06-01 00:00:00', '2015-07-26 00:00:00',
       '2015-08-01 00:00:00', '2015-08-02 00:00:00',
       '2015-06-15 00:00:00', '2015-04-23 00:00:00',
       '2015-07-30 00:00:00', '2015-07-31 00:00:00',
       '2015-06-05 00:00:00', '2015-05-25 00:00:00',
       '2015-08-03 00:00:00', '2015-04-17 00:00:00',
       '2015-08-04 00:00:00', '2015-08-06 00:00:00',
       '2015-05-15 00:00:00', '2015-06-25 00:00:00',
       '2015-05-09 00:00:00', '2015-03-17 00:00:00',
       '2015-05-22 00:00:00', '2015-08-07 00:00:00',
       '2015-04-04 00:00:00', '2015-08-05 00:00:00',
       '2015-08-08 00:00:00', '2015-08-10 00:00:00',
       '2015-05-04 00:00:00', '2015-06-06 00:00:00',
       '2015-08-09 00:00:00', '2015-08-15 00:00:00',
       '2015-08-11 00:00:00', '2015-03-28 00:00:00',
       '2015-08-14 00:00:00', '2015-08-12 00:00:00',
       '2015-08-16 00:00:00', '2015-08-21 00:00:00',
       '2015-08-13 00:00:00', '2015-08-17 00:00:00',
       '2015-04-20 00:00:00', '2015-08-18 00:00:00',
       '2015-08-23 00:00:00', '2015-08-22 00:00:00',
       '2015-08-19 00:00:00', '2015-08-20 00:00:00',
       '2015-08-29 00:00:00', '2015-03-31 00:00:00',
       '2015-05-30 00:00:00', '2015-08-25 00:00:00',
       '2015-08-24 00:00:00', '2015-03-24 00:00:00',
       '2015-05-21 00:00:00', '2015-08-28 00:00:00',
       '2015-08-26 00:00:00', '2015-08-27 00:00:00',
       '2015-08-30 00:00:00', '2015-08-31 00:00:00',
       '2015-09-06 00:00:00', '2015-09-03 00:00:00',
       '2015-09-04 00:00:00', '2015-09-02 00:00:00',
       '2015-09-01 00:00:00', '2015-09-05 00:00:00',
       '2015-06-20 00:00:00', '2015-09-07 00:00:00',
       '2015-09-10 00:00:00', '2015-09-11 00:00:00',
       '2015-09-08 00:00:00', '2015-09-09 00:00:00',
       '2015-09-13 00:00:00', '2015-09-15 00:00:00',
       '2015-04-10 00:00:00', '2015-01-02 00:00:00',
       '2014-11-18 00:00:00', '2015-09-12 00:00:00',
       '2015-09-17 00:00:00', '2015-09-14 00:00:00',
       '2015-04-07 00:00:00', '2015-09-19 00:00:00',
       '2015-09-16 00:00:00', '2015-09-20 00:00:00',
       '2015-01-18 00:00:00', '2015-10-23 00:00:00',
       '2015-01-22 00:00:00', '2015-01-01 00:00:00',
       '2015-09-22 00:00:00', '2015-09-24 00:00:00',
       '2015-09-18 00:00:00', '2015-09-21 00:00:00',
       '2015-09-25 00:00:00', '2015-09-27 00:00:00',
       '2015-09-28 00:00:00', '2015-10-12 00:00:00',
       '2015-06-13 00:00:00', '2015-09-29 00:00:00',
       '2015-09-23 00:00:00', '2015-10-01 00:00:00',
       '2015-09-26 00:00:00', '2015-04-18 00:00:00',
       '2015-09-30 00:00:00', '2015-10-02 00:00:00',
       '2015-10-04 00:00:00', '2015-10-08 00:00:00',
       '2015-10-03 00:00:00', '2015-10-09 00:00:00',
       '2015-10-11 00:00:00', '2015-10-05 00:00:00',
       '2015-10-10 00:00:00', '2015-10-06 00:00:00',
       '2015-10-07 00:00:00', '2015-10-14 00:00:00',
       '2015-10-15 00:00:00', '2015-10-18 00:00:00',
       '2015-10-13 00:00:00', '2015-10-20 00:00:00',
       '2015-10-19 00:00:00', '2015-10-31 00:00:00',
       '2015-10-16 00:00:00', '2015-10-21 00:00:00',
       '2015-10-22 00:00:00', '2015-10-17 00:00:00',
       '2015-10-24 00:00:00', '2015-10-25 00:00:00',
       '2015-10-28 00:00:00', '2015-10-27 00:00:00',
       '2015-10-26 00:00:00', '2015-10-30 00:00:00',
       '2015-11-05 00:00:00', '2015-10-29 00:00:00',
       '2015-11-03 00:00:00', '2015-11-07 00:00:00',
       '2015-11-04 00:00:00', '2015-11-01 00:00:00',
       '2015-11-17 00:00:00', '2015-11-02 00:00:00',
       '2015-11-06 00:00:00', '2015-11-08 00:00:00',
       '2015-11-09 00:00:00', '2015-11-10 00:00:00',
       '2015-11-15 00:00:00', '2015-11-16 00:00:00',
       '2015-11-11 00:00:00', '2015-11-12 00:00:00',
       '2015-11-14 00:00:00', '2015-11-13 00:00:00',
       '2015-11-18 00:00:00', '2015-11-22 00:00:00',
       '2015-11-21 00:00:00', '2015-11-20 00:00:00',
       '2015-11-24 00:00:00', '2015-11-25 00:00:00',
       '2015-11-23 00:00:00', '2015-11-28 00:00:00',
       '2015-11-26 00:00:00', '2015-11-19 00:00:00',
       '2015-11-27 00:00:00', '2015-11-29 00:00:00',
       '2015-12-04 00:00:00', '2015-12-01 00:00:00',
       '2015-12-06 00:00:00', '2015-12-08 00:00:00',
       '2015-12-02 00:00:00', '2015-12-03 00:00:00',
       '2015-12-31 00:00:00', '2015-12-05 00:00:00',
       '2015-12-10 00:00:00', '2015-12-17 00:00:00',
       '2015-11-30 00:00:00', '2015-12-12 00:00:00',
       '2015-12-07 00:00:00', '2015-12-13 00:00:00',
       '2015-12-15 00:00:00', '2015-12-16 00:00:00',
       '2015-12-19 00:00:00', '2015-12-18 00:00:00',
       '2015-12-26 00:00:00', '2015-12-27 00:00:00',
       '2016-01-05 00:00:00', '2015-12-22 00:00:00',
       '2015-12-24 00:00:00', '2015-12-29 00:00:00',
       '2015-12-20 00:00:00', '2015-12-23 00:00:00',
       '2015-12-30 00:00:00', '2016-01-02 00:00:00',
       '2016-01-01 00:00:00', '2015-12-28 00:00:00',
       '2015-12-25 00:00:00', '2016-01-03 00:00:00',
       '2016-01-04 00:00:00', '2016-01-11 00:00:00',
       '2016-01-07 00:00:00', '2015-12-21 00:00:00',
       '2016-01-09 00:00:00', '2016-01-10 00:00:00',
       '2016-01-08 00:00:00', '2016-01-06 00:00:00',
       '2016-01-12 00:00:00', '2016-01-13 00:00:00',
       '2016-01-23 00:00:00', '2016-01-15 00:00:00',
       '2016-01-16 00:00:00', '2016-01-17 00:00:00',
       '2016-01-19 00:00:00', '2016-01-18 00:00:00',
       '2016-01-21 00:00:00', '2016-01-24 00:00:00',
       '2016-01-22 00:00:00', '2016-01-29 00:00:00',
       '2016-01-27 00:00:00', '2016-01-25 00:00:00',
       '2016-03-08 00:00:00', '2016-01-26 00:00:00',
       '2016-01-20 00:00:00', '2016-01-30 00:00:00',
       '2016-02-01 00:00:00', '2016-02-08 00:00:00',
       '2016-02-07 00:00:00', '2016-01-28 00:00:00',
       '2016-02-05 00:00:00', '2016-02-03 00:00:00',
       '2016-02-09 00:00:00', '2016-02-13 00:00:00',
       '2016-02-10 00:00:00', '2016-02-02 00:00:00',
       '2016-02-04 00:00:00', '2016-02-12 00:00:00',
       '2016-02-11 00:00:00', '2016-02-16 00:00:00',
       '2016-02-14 00:00:00', '2015-12-11 00:00:00',
       '2016-02-20 00:00:00', '2016-02-15 00:00:00',
       '2016-02-06 00:00:00', '2016-01-14 00:00:00',
       '2016-02-17 00:00:00', '2016-02-21 00:00:00',
       '2016-02-24 00:00:00', '2016-02-25 00:00:00',
       '2016-02-19 00:00:00', '2016-02-18 00:00:00',
       '2016-02-26 00:00:00', '2016-02-23 00:00:00',
       '2016-03-05 00:00:00', '2016-02-22 00:00:00',
       '2016-02-27 00:00:00', '2016-03-03 00:00:00',
       '2016-03-24 00:00:00', '2016-02-29 00:00:00',
       '2016-03-01 00:00:00', '2016-03-02 00:00:00',
       '2016-03-30 00:00:00', '2016-03-04 00:00:00',
       '2016-03-07 00:00:00', '2016-03-14 00:00:00',
       '2016-03-21 00:00:00', '2016-03-09 00:00:00',
       '2016-03-12 00:00:00', '2016-03-22 00:00:00',
       '2016-03-10 00:00:00', '2016-03-11 00:00:00',
       '2016-03-20 00:00:00', '2016-03-15 00:00:00',
       '2016-03-17 00:00:00', '2016-03-16 00:00:00',
       '2016-03-19 00:00:00', '2016-03-27 00:00:00',
       '2016-03-18 00:00:00', '2016-03-26 00:00:00',
       '2016-03-31 00:00:00', '2016-03-28 00:00:00',
       '2016-03-29 00:00:00', '2016-04-01 00:00:00',
       '2016-03-23 00:00:00', '2016-04-02 00:00:00',
       '2016-03-25 00:00:00', '2016-03-13 00:00:00',
       '2016-04-04 00:00:00', '2016-04-03 00:00:00',
       '2016-04-05 00:00:00', '2016-04-08 00:00:00',
       '2016-04-06 00:00:00', '2016-04-09 00:00:00',
       '2016-04-12 00:00:00', '2016-04-16 00:00:00',
       '2016-04-17 00:00:00', '2016-04-14 00:00:00',
       '2016-04-18 00:00:00', '2016-04-21 00:00:00',
       '2016-04-19 00:00:00', '2016-04-20 00:00:00',
       '2016-04-10 00:00:00', '2016-04-13 00:00:00',
       '2016-04-11 00:00:00', '2016-04-07 00:00:00',
       '2016-04-15 00:00:00', '2016-04-22 00:00:00',
       '2016-04-23 00:00:00', '2016-04-26 00:00:00',
       '2016-04-28 00:00:00', '2016-04-24 00:00:00',
       '2016-04-25 00:00:00', '2016-04-29 00:00:00',
       '2016-04-30 00:00:00', '2016-05-10 00:00:00',
       '2016-04-27 00:00:00', '2016-05-02 00:00:00',
       '2016-05-07 00:00:00', '2016-05-08 00:00:00',
       '2016-05-12 00:00:00', '2016-05-01 00:00:00',
       '2016-05-04 00:00:00', '2016-05-06 00:00:00',
       '2016-05-03 00:00:00', '2016-05-09 00:00:00',
       '2016-05-05 00:00:00', '2016-05-13 00:00:00',
       '2016-05-14 00:00:00', '2016-05-18 00:00:00',
       '2016-05-19 00:00:00', '2016-05-15 00:00:00',
       '2016-05-16 00:00:00', '2016-05-11 00:00:00',
       '2016-05-21 00:00:00', '2016-05-22 00:00:00',
       '2016-05-20 00:00:00', '2016-05-24 00:00:00',
       '2016-05-26 00:00:00', '2016-05-23 00:00:00',
       '2016-05-27 00:00:00', '2016-05-17 00:00:00',
       '2016-05-25 00:00:00', '2016-05-29 00:00:00',
       '2016-05-28 00:00:00', '2016-05-30 00:00:00',
       '2016-05-31 00:00:00', '2016-06-01 00:00:00',
       '2016-06-03 00:00:00', '2016-06-08 00:00:00',
       '2016-06-02 00:00:00', '2016-06-05 00:00:00',
       '2016-06-06 00:00:00', '2016-06-13 00:00:00',
       '2016-06-07 00:00:00', '2016-06-10 00:00:00',
       '2016-06-11 00:00:00', '2016-06-12 00:00:00',
       '2016-06-14 00:00:00', '2016-06-17 00:00:00',
       '2016-06-04 00:00:00', '2016-06-16 00:00:00',
       '2016-06-18 00:00:00', '2016-06-21 00:00:00',
       '2016-06-09 00:00:00', '2016-06-24 00:00:00',
       '2016-06-20 00:00:00', '2016-06-25 00:00:00',
       '2016-06-22 00:00:00', '2016-06-26 00:00:00',
       '2016-06-23 00:00:00', '2016-07-01 00:00:00',
       '2016-06-15 00:00:00', '2016-06-28 00:00:00',
       '2016-07-02 00:00:00', '2016-06-19 00:00:00',
       '2016-06-27 00:00:00', '2016-07-04 00:00:00',
       '2016-06-30 00:00:00', '2016-07-05 00:00:00',
       '2016-07-08 00:00:00', '2016-07-09 00:00:00',
       '2016-07-07 00:00:00', '2016-07-12 00:00:00',
       '2016-06-29 00:00:00', '2016-07-10 00:00:00',
       '2016-07-15 00:00:00', '2016-07-03 00:00:00',
       '2016-07-16 00:00:00', '2016-07-14 00:00:00',
       '2016-07-18 00:00:00', '2016-07-13 00:00:00',
       '2016-07-06 00:00:00', '2016-07-21 00:00:00',
       '2016-07-19 00:00:00', '2016-07-11 00:00:00',
       '2016-07-20 00:00:00', '2016-07-28 00:00:00',
       '2016-07-17 00:00:00', '2016-07-25 00:00:00',
       '2016-07-22 00:00:00', '2016-07-23 00:00:00',
       '2016-07-29 00:00:00', '2016-08-03 00:00:00',
       '2016-08-02 00:00:00', '2016-08-04 00:00:00',
       '2016-08-08 00:00:00', '2016-08-10 00:00:00',
       '2016-08-01 00:00:00', '2016-08-06 00:00:00',
       '2016-03-06 00:00:00', '2016-08-05 00:00:00',
       '2016-07-26 00:00:00', '2016-08-07 00:00:00',
       '2016-07-24 00:00:00', '2016-08-12 00:00:00',
       '2016-07-27 00:00:00', '2016-08-13 00:00:00',
       '2016-08-18 00:00:00', '2016-08-16 00:00:00',
       '2016-08-15 00:00:00', '2016-08-17 00:00:00',
       '2016-08-11 00:00:00', '2016-07-31 00:00:00',
       '2016-07-30 00:00:00', '2030-11-31', '2016-09-01 00:00:00',
       '2016-08-23 00:00:00', '2016-08-20 00:00:00',
       '2016-08-21 00:00:00', '2016-09-04 00:00:00',
       '2016-08-22 00:00:00', '2016-08-27 00:00:00',
       '2016-08-25 00:00:00', '2016-08-09 00:00:00',
       '2016-08-26 00:00:00', '2016-09-05 00:00:00',
       '2016-08-24 00:00:00', '2016-09-10 00:00:00',
       '2016-08-29 00:00:00', '2016-09-09 00:00:00',
       '2016-08-30 00:00:00', '2016-08-19 00:00:00',
       '2016-09-13 00:00:00', '2016-08-31 00:00:00',
       '2016-09-12 00:00:00', '2016-09-15 00:00:00',
       '2016-08-14 00:00:00', '2016-09-02 00:00:00',
       '2016-09-14 00:00:00', '2016-09-08 00:00:00',
       '2016-09-19 00:00:00', '2016-09-16 00:00:00',
       '2016-09-07 00:00:00', '2016-09-21 00:00:00',
       '2016-09-06 00:00:00', '2016-09-22 00:00:00',
       '2016-09-17 00:00:00', '2016-09-20 00:00:00',
       '2016-09-03 00:00:00', '2016-09-26 00:00:00',
       '2016-09-23 00:00:00', '2016-09-18 00:00:00',
       '2016-10-02 00:00:00', '2016-10-01 00:00:00',
       '2016-09-27 00:00:00', '2016-09-25 00:00:00',
       '2016-10-05 00:00:00', '2016-09-11 00:00:00',
       '2016-09-30 00:00:00', '2016-10-09 00:00:00',
       '2016-10-03 00:00:00', '2016-10-06 00:00:00',
       '2016-10-11 00:00:00', '2016-09-24 00:00:00',
       '2016-09-29 00:00:00', '2016-10-13 00:00:00',
       '2016-09-28 00:00:00', '2016-10-08 00:00:00',
       '2016-10-07 00:00:00', '2016-08-28 00:00:00',
       '2016-10-17 00:00:00', '2016-10-18 00:00:00',
       '2016-10-10 00:00:00', '2016-10-16 00:00:00',
       '2016-10-04 00:00:00', '2016-10-15 00:00:00',
       '2016-10-19 00:00:00', '2016-10-21 00:00:00',
       '2016-10-12 00:00:00', '2016-10-24 00:00:00',
       '2016-10-26 00:00:00', '2016-10-23 00:00:00',
       '2016-10-20 00:00:00', '2016-10-25 00:00:00',
       '2016-10-27 00:00:00', '2016-10-28 00:00:00',
       '2016-10-30 00:00:00', '2016-10-29 00:00:00', '2029-04-31',
       '2016-11-01 00:00:00', '2016-11-04 00:00:00',
       '2016-10-14 00:00:00', '2016-11-07 00:00:00',
       '2016-11-03 00:00:00', '2016-11-10 00:00:00',
       '2016-11-14 00:00:00', '2016-11-02 00:00:00',
       '2016-10-31 00:00:00', '2016-11-11 00:00:00',
       '2016-11-08 00:00:00', '2016-11-05 00:00:00',
       '2016-11-25 00:00:00', '2016-11-09 00:00:00',
       '2016-11-20 00:00:00', '2016-11-21 00:00:00',
       '2016-10-22 00:00:00', '2016-11-22 00:00:00',
       '2016-11-16 00:00:00', '2016-11-23 00:00:00',
       '2016-11-17 00:00:00', '2016-11-06 00:00:00',
       '2016-11-15 00:00:00', '2016-11-13 00:00:00',
       '2016-11-12 00:00:00', '2016-11-27 00:00:00',
       '2016-11-19 00:00:00', '2016-11-30 00:00:00',
       '2016-12-02 00:00:00', '2030-06-31', '2016-12-04 00:00:00',
       '2016-11-29 00:00:00', '2016-12-07 00:00:00',
       '2016-11-28 00:00:00', '2016-12-03 00:00:00',
       '2016-12-06 00:00:00', '2016-11-24 00:00:00',
       '2016-12-08 00:00:00', '2016-12-05 00:00:00',
       '2016-12-10 00:00:00', '2016-11-18 00:00:00',
       '2016-12-13 00:00:00', '2016-12-14 00:00:00',
       '2016-12-16 00:00:00', '2016-12-15 00:00:00',
       '2016-12-17 00:00:00', '2016-12-19 00:00:00',
       '2016-12-21 00:00:00', '2016-12-20 00:00:00',
       '2016-12-22 00:00:00', '2016-12-23 00:00:00',
       '2016-12-24 00:00:00', '2016-12-01 00:00:00',
       '2016-12-27 00:00:00', '2016-12-29 00:00:00',
       '2016-12-30 00:00:00', '2016-12-12 00:00:00',
       '2017-01-02 00:00:00', '2016-12-11 00:00:00',
       '2017-01-04 00:00:00', '2017-01-01 00:00:00',
       '2016-12-26 00:00:00', '2017-01-06 00:00:00',
       '2016-12-28 00:00:00', '2016-12-18 00:00:00',
       '2017-01-10 00:00:00', '2017-01-11 00:00:00',
       '2017-01-07 00:00:00', '2017-01-12 00:00:00',
       '2017-01-16 00:00:00', '2017-01-14 00:00:00',
       '2017-01-13 00:00:00', '2017-01-05 00:00:00',
       '2017-01-03 00:00:00', '2017-01-17 00:00:00',
       '2016-12-09 00:00:00', '2017-01-20 00:00:00',
       '2017-01-26 00:00:00', '2016-12-31 00:00:00',
       '2017-01-23 00:00:00', '2017-01-28 00:00:00',
       '2017-01-19 00:00:00', '2017-01-27 00:00:00',
       '2017-01-25 00:00:00', '2017-01-24 00:00:00',
       '2017-01-29 00:00:00', '2017-01-18 00:00:00',
       '2016-12-25 00:00:00', '2017-01-15 00:00:00',
       '2017-01-21 00:00:00', '2017-02-01 00:00:00',
       '2017-02-02 00:00:00', '2017-01-31 00:00:00',
       '2017-02-03 00:00:00', '2017-02-04 00:00:00',
       '2017-02-06 00:00:00', '2017-02-07 00:00:00',
       '2017-02-08 00:00:00', '2017-01-30 00:00:00',
       '2017-02-09 00:00:00', '2017-01-09 00:00:00',
       '2017-02-11 00:00:00', '2017-02-10 00:00:00',
       '2017-02-12 00:00:00', '2017-02-13 00:00:00',
       '2017-02-14 00:00:00', '2017-02-16 00:00:00',
       '2017-02-17 00:00:00', '2017-02-18 00:00:00',
       '2017-02-19 00:00:00', '2017-02-20 00:00:00',
       '2017-02-15 00:00:00', '2017-02-21 00:00:00',
       '2017-02-22 00:00:00', '2017-02-26 00:00:00',
       '2017-02-23 00:00:00', '2017-02-24 00:00:00',
       '2017-02-25 00:00:00', '2017-02-28 00:00:00',
       '2017-03-05 00:00:00', '2017-02-27 00:00:00',
       '2017-03-03 00:00:00', '2017-03-06 00:00:00',
       '2017-03-02 00:00:00', '2017-03-08 00:00:00',
       '2017-03-09 00:00:00', '2017-03-10 00:00:00',
       '2017-03-07 00:00:00', '2017-03-12 00:00:00',
       '2017-03-13 00:00:00', '2017-03-14 00:00:00',
       '2017-03-01 00:00:00', '2017-03-18 00:00:00',
       '2017-03-17 00:00:00', '2017-03-24 00:00:00',
       '2017-03-22 00:00:00', '2017-03-26 00:00:00',
       '2017-03-27 00:00:00', '2017-03-11 00:00:00',
       '2017-03-28 00:00:00', '2017-03-29 00:00:00',
       '2017-03-30 00:00:00', '2017-03-31 00:00:00',
       '2017-03-19 00:00:00', '2017-01-22 00:00:00',
       '2017-04-02 00:00:00', '2017-03-20 00:00:00',
       '2017-04-03 00:00:00', '2017-01-08 00:00:00',
       '2017-03-23 00:00:00', '2017-04-05 00:00:00',
       '2017-03-15 00:00:00', '2017-04-07 00:00:00',
       '2017-03-25 00:00:00', '2017-04-08 00:00:00',
       '2017-04-06 00:00:00', '2017-03-21 00:00:00',
       '2017-04-04 00:00:00', '2017-04-10 00:00:00',
       '2017-02-05 00:00:00', '2017-04-01 00:00:00',
       '2017-04-11 00:00:00', '2017-04-13 00:00:00',
       '2017-04-15 00:00:00', '2017-04-12 00:00:00',
       '2017-03-04 00:00:00', '2017-04-19 00:00:00',
       '2017-04-22 00:00:00', '2017-04-20 00:00:00',
       '2017-05-02 00:00:00', '2017-04-09 00:00:00',
       '2017-04-23 00:00:00', '2017-04-24 00:00:00',
       '2017-04-16 00:00:00', '2017-04-28 00:00:00',
       '2017-04-18 00:00:00', '2017-04-26 00:00:00',
       '2017-04-25 00:00:00', '2017-04-17 00:00:00',
       '2017-04-21 00:00:00', '2017-05-03 00:00:00',
       '2017-05-04 00:00:00', '2017-03-16 00:00:00',
       '2017-05-05 00:00:00', '2017-04-29 00:00:00',
       '2017-04-14 00:00:00', '2017-05-08 00:00:00',
       '2017-04-27 00:00:00', '2017-05-01 00:00:00',
       '2017-05-10 00:00:00', '2017-05-13 00:00:00',
       '2017-05-06 00:00:00', '2017-05-14 00:00:00',
       '2017-05-16 00:00:00', '2017-04-30 00:00:00',
       '2017-05-15 00:00:00', '2017-05-07 00:00:00',
       '2017-05-09 00:00:00', '2017-05-17 00:00:00',

In [31]:
df_clean['status_date'] = pd.to_datetime(df_clean['status_date'], errors='coerce')  # Esto no da error

In [32]:
print(df_clean['status_date'].dtype) # Verificar el tipo de la columna

datetime64[ns]

In [29]:
df_clean["status_date"] = pd.to_datetime(df_clean["status_date"])

ParserError: day is out of range for month: 2030-02-30

In [45]:
# Ver fechas pasadas
df_clean['status_date'] = pd.to_datetime(df_clean['status_date'])   # Convertir la columna 'status_date' a tipo datetime

fecha_actual = datetime.now()    # Obtener la fecha actual
fecha_actual

fechas_pasadas = df_clean[df_clean['status_date'] < fecha_actual]   # Filtrar fechas pasadas
print("Fechas pasadas en 'status_date':", fechas_pasadas)

Fechas pasadas en 'status_date':                hotel canceled  lead_time  arrival_year arrival_month  \
0       Resort Hotel    False      342.0        2015.0             7
1       Resort Hotel    False      737.0           NaN             7
2       Resort Hotel    False        7.0        2015.0             7
3       Resort Hotel    False       13.0           NaN             7
4       Resort Hotel    False       14.0           NaN             7
...              ...      ...        ...           ...           ...
119385    City Hotel    False       23.0        2017.0             8
119386    City Hotel    False      102.0           NaN             8
119387    City Hotel    False       34.0        2017.0             8
119388    City Hotel    False      109.0           NaN             8
119389    City Hotel    False      205.0        2017.0             8

        arrival_week  arrival_day  weekend_nights  week_nights  adults  \
0               27.0          1.0             0.0          0.0     2.0
1               27.0          1.0             0.0          0.0     2.0
2               27.0          1.0             0.0          1.0     1.0
3               27.0          1.0             0.0          1.0     1.0
4                NaN          1.0             0.0          2.0     2.0
...              ...          ...             ...          ...     ...
119385          35.0         30.0             2.0          5.0     2.0
119386          35.0         31.0             2.0          5.0     3.0
119387          35.0         31.0             2.0          5.0     2.0
119388          35.0         31.0             2.0          5.0    55.0
119389          35.0         29.0             2.0          7.0     2.0

        children  babies meal country market_segment distribution_channel  \
0            NaN     0.0   BB     PRT            NaN               Direct
1            NaN     0.0   BB     NaN            NaN               Direct
2            0.0     0.0   BB     GBR            NaN               Direct
3            NaN     0.0   BB     GBR      Corporate            Corporate
4            NaN     0.0   BB     NaN      Online TA                TA/TO
...          ...     ...  ...     ...            ...                  ...
119385       0.0     0.0   BB     NaN  Offline TA/TO                TA/TO
119386       NaN     0.0   BB     FRA            NaN                TA/TO
119387       NaN     0.0   BB     NaN      Online TA                TA/TO
119388       0.0     0.0   BB     NaN      Online TA                TA/TO
119389       NaN     0.0   HB     DEU            NaN                TA/TO

        repeated_guest  prev_cancellations  prev_not_canceled  \
0                  0.0                 NaN                0.0
1                  0.0                 0.0                0.0
2                  0.0                 0.0                0.0
3                  0.0                 0.0                0.0
4                  0.0                 0.0                0.0
...                ...                 ...                ...
119385             0.0                 0.0                0.0
119386             0.0                 NaN                0.0
119387             0.0                 0.0                0.0
119388             0.0                 0.0                0.0
119389             0.0                 0.0                0.0

       reserved_room_type assigned_room_type  booking_changes  agent  company  \
0                       C                  C              3.0    NaN      NaN
1                     NaN                  C              4.0    NaN      NaN
2                       A                  C              0.0    NaN      NaN
3                       A                  A              0.0  304.0      NaN
4                       A                  A              0.0  240.0      NaN
...                   ...                ...              ...    ...      ...
119385                  A                  A              0.0  394.0      NaN
119386                  E                  E              0.0    9.0      NaN
119387                NaN                  D              0.0    9.0      NaN
119388                  A                  A              0.0   89.0      NaN
119389                NaN                  A              0.0    9.0      NaN

        days_waiting_list customer_type     adr  parking_spaces  \
0                     0.0     Transient    0.00             0.0
1                     0.0     Transient    0.00             0.0
2                     0.0     Transient   75.00             0.0
3                     0.0     Transient   75.00             0.0
4                     0.0     Transient   98.00             0.0
...                   ...           ...     ...             ...
119385                0.0           NaN   96.14             0.0
119386                0.0     Transient  225.43             0.0
119387                0.0     Transient  157.71             0.0
119388                0.0     Transient  104.40             0.0
119389                0.0           NaN  151.20             0.0

        special_requests reservation_status status_date
0                    0.0          Check-Out  2015-07-01
1                    0.0          Check-Out  2015-07-01
2                    0.0          Check-Out  2015-07-02
3                    0.0          Check-Out  2015-07-02
4                    1.0          Check-Out  2015-07-03
...                  ...                ...         ...
119385               0.0          Check-Out  2017-06-09
119386               2.0          Check-Out  2017-07-09
119387               4.0          Check-Out  2017-07-09
119388               0.0          Check-Out  2017-07-09
119389               2.0          Check-Out  2017-07-09

[105106 rows x 31 columns]

In [40]:
# Verificar duplicados
duplicados = df_clean[df_clean.duplicated()]
duplicados

,hotel,canceled,lead_time,arrival_year,arrival_month,arrival_week,arrival_day,weekend_nights,week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,repeated_guest,prev_cancellations,prev_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_waiting_list,customer_type,adr,parking_spaces,special_requests,reservation_status,status_date
119393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
122688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
131036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
152300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
159155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
182004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [41]:
# Verificar valores nulos
nulos = df_clean[df_clean['status_date'].isnull()]
nulos

,hotel,canceled,lead_time,arrival_year,arrival_month,arrival_week,arrival_day,weekend_nights,week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,repeated_guest,prev_cancellations,prev_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_waiting_list,customer_type,adr,parking_spaces,special_requests,reservation_status,status_date
20,Resort Hotel,False,37.000000,NaN,7,27.0,1.0,1.0,4.0,1.0,NaN,0.0,BB,NaN,NaN,TA/TO,0.0,0.0,0.0,NaN,F,0.0,241.0,NaN,0.0,Transient,97.29,0.0,1.0,Check-Out,NaT
46,Resort Hotel,False,96.000000,NaN,7,27.0,2.0,2.0,5.0,2.0,0.0,0.0,BB,ESP,NaN,TA/TO,0.0,0.0,0.0,A,A,0.0,134.0,NaN,0.0,Transient,58.95,0.0,1.0,Check-Out,NaT
51,Resort Hotel,False,93.000000,2015.0,7,27.0,NaN,3.0,8.0,2.0,0.0,0.0,BB,IRL,Offline TA/TO,TA/TO,0.0,0.0,0.0,A,A,0.0,156.0,NaN,0.0,Contract,56.01,0.0,0.0,Check-Out,NaT
67,Resort Hotel,False,51.000000,NaN,7,27.0,3.0,0.0,2.0,2.0,0.0,0.0,BB,NaN,NaN,TA/TO,0.0,0.0,0.0,D,D,0.0,242.0,NaN,0.0,Transient,97.00,0.0,0.0,Check-Out,NaT
70,Resort Hotel,True,62.000000,2015.0,7,27.0,3.0,0.0,2.0,2.0,NaN,0.0,BB,PRT,NaN,TA/TO,0.0,NaN,0.0,D,D,0.0,240.0,NaN,0.0,Transient,97.00,0.0,1.0,Canceled,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182872,NaN,NaN,224.337762,NaN,NaN,NaN,NaN,19.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
182873,NaN,NaN,390.141963,NaN,NaN,NaN,NaN,15.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
182874,NaN,NaN,230.689826,NaN,NaN,NaN,NaN,11.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
182875,NaN,NaN,304.888534,NaN,NaN,NaN,NaN,17.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
182876,NaN,NaN,341.238166,NaN,NaN,NaN,NaN,18.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [43]:
# Obtener nombres de columnas con valores nulos
columnas_con_nulos = nulos.columns[nulos.isnull().any()].tolist()
columnas_con_nulos

['hotel',
 'canceled',
 'lead_time',
 'arrival_year',
 'arrival_month',
 'arrival_week',
 'arrival_day',
 'weekend_nights',
 'week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'repeated_guest',
 'prev_cancellations',
 'prev_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'agent',
 'company',
 'days_waiting_list',
 'customer_type',
 'adr',
 'parking_spaces',
 'special_requests',
 'reservation_status',
 'status_date']

In [42]:
porcentaje_nulos = (nulos.shape[0] / df_clean.shape[0]) * 100  # Calcular el porcentaje de valores nulos en 'status_date'
porcentaje_nulos

11.013842441688185

In [27]:
df_clean.to_csv("sin_dup.csv")